@model ImouRentACar.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/AuthenticationLayout/_AuthenticationLayout.cshtml";
}

<div class="login-logo">
    <a asp-action="Index" asp-controller="Home"><b>Imou</b> Rent A Car</a>
</div>
<!-- /.login-logo -->
<div class="login-box-body">
    <p class="login-box-msg">Password Rest</p>
    <form asp-action="NewPassword" asp-controller="Account">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group has-feedback">
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter New Password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="checkbox icheck">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Change Password</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /.login-box-body -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}