@model ImouRentACar.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/AuthenticationLayout/_AuthenticationLayout.cshtml";
}

<div class="login-logo">
    <a asp-action="SingIn" asp-controller="Account"><b>Imou</b> Rent A Car</a>
</div>
<!-- /.login-logo -->
<div class="login-box-body">
    <p class="login-box-msg">Password Recovery</p>
    <form asp-action="PasswordRecovery" asp-controller="Account">
        <input type="hidden" asp-for="ApplicationUserId" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="FirstName" />
        <input type="hidden" asp-for="LastName" />
        <input type="hidden" asp-for="Password" />
        <input type="hidden" asp-for="ConfirmPassword" />
        <input type="hidden" asp-for="CreatedBy" />
        <input type="hidden" asp-for="LastModifiedBy" />
        <input type="hidden" asp-for="DateCreated" />
        <input type="hidden" asp-for="DateLastModified" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (ViewData["appuser"] != null && Convert.ToString(ViewData["appuser"]) != " ")
        {
            <h5 style="padding-left:1em;" class="text-danger">@ViewData["appuser"]</h5>
        }
        <div class="form-group has-feedback">
            <input asp-for="Email" type="email" class="form-control" placeholder="Enter Email">
            <span asp-validation-for="Email" class="text-danger"></span>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="checkbox icheck">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Enter</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- /.login-box-body -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}