<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <p style="color:white; text-align: center">  @ViewData["loggedinuserfullname"]</p>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a asp-action="Dashboard" asp-controller="Admin">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            @if (ViewData["canmangecarbrand"] != null || ViewData["candoeverything"] != null || ViewData["canmangecars"] != null)
            {
                <li class="treeview">
                    <a>
                        <i class="fa fa-car"></i> <span>Vechiles</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a asp-action="Index" asp-controller="CarBrand"><i class="fa fa-circle-o"></i>Car Brands</a></li>
                        <li><a asp-action="Index" asp-controller="Car"><i class="fa fa-circle-o"></i>Cars</a></li>
                        <li><a asp-action="AvaliableCars" asp-controller="Car"><i class="fa fa-circle-o"></i>Avaliable Cars</a></li>
                        <li><a asp-action="RentedCars" asp-controller="Car"><i class="fa fa-circle-o"></i>Booked Cars</a></li>
                    </ul>
                </li>
            }
            @if (ViewData["canmangeapplicationusers"] != null || ViewData["candoeverything"] != null)
            {
                <li class="treeview">
                    <a>
                        <i class="fa fa-user"></i> <span>Manage Users</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-circle-o"></i>Roles</a></li>
                        <li><a asp-action="Index" asp-controller="ApplicationUser"><i class="fa fa-circle-o"></i>Application Users</a></li>
                    </ul>
                </li>
            }
            @if (ViewData["canmangelandingdetails"] != null || ViewData["candoeverything"] != null)
            {
                <li class="treeview">
                    <a>
                        <i class="fa fa-user"></i> <span>Manage Landing</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a asp-action="Index" asp-controller="Landing"><i class="fa fa-circle-o"></i>Landing Details</a></li>
                        <li><a asp-action="List" asp-controller="Policy"><i class="fa fa-circle-o"></i>Policy</a></li>
                    </ul>
                </li>
            }
            @if (ViewData["canmangebookings"] != null || ViewData["candoeverything"] != null)
            {
                <li class="treeview">
                    <a>
                        <i class="fa fa-bookmark"></i> <span>Car Rental</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a asp-action="ProcessingRentACar" asp-controller="RentACar"><i class="fa fa-circle-o"></i>Process Rent A Car</a></li>
                        <li><a asp-action="UnPaidRentACar" asp-controller="RentACar"><i class="fa fa-circle-o"></i>Unpaid Rent A Car</a></li>
                        <li><a asp-action="ExpiredRentACar" asp-controller="RentACar"><i class="fa fa-circle-o"></i>Expired Rent A Car</a></li>
                        <li><a asp-action="PaidRentACar" asp-controller="RentACar"><i class="fa fa-circle-o"></i>Paid Rent A Car</a></li>
                    </ul>
                </li>
            }
            @if (ViewData["canmangeenquries"] != null || ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Enquiry">
                        <i class="fa fa-book"></i> <span>Enquiries</span>
                    </a>
                </li>
            }
            @if (ViewData["canmangelocation"] != null || ViewData["candoeverything"] != null)
            {
                <li class="treeview">
                    <a>
                        <i class="fa fa-map-marker"></i> <span>Location</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a asp-action="Index" asp-controller="State"><i class="fa fa-circle-o"></i>States</a></li>
                        <li><a asp-action="Index" asp-controller="Lga"><i class="fa fa-circle-o"></i>LGAs</a></li>
                    </ul>
                </li>
            }
            @if (ViewData["canmangecustomers"] != null || ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Customer">
                        <i class="fa fa-users"></i> <span>Customers</span>
                    </a>
                </li>
            }
            @if (ViewData["canmangedrivers"] != null || ViewData["candoeverything"] != null)
            {
                <li>
                    <a asp-action="Index" asp-controller="Driver">
                        <i class="fa fa-users"></i> <span>Drivers</span>
                    </a>
                </li>
            }

        </ul>
    </section>
    <!-- /.sidebar -->
    </aside>