@model ImouRentACar.Models.Booking

@{
    ViewData["Title"] = "Approve";
    Layout = null;
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong> REMOVE DRIVER</strong> </h3>
</div>


<!--MODAL BODY-->
<div class="modal-body">
    <h3 class="text-center"> Are you sure you want to remove the driver from this booking request?</h3>
</div>
<form asp-action="RemoveDriver">
    <input type="hidden" asp-for="BookingId" />
    @*<input type="hidden" asp-for="CarId" />*@
    <input type="hidden" asp-for="PickUpLgaId" />
    <input type="hidden" asp-for="ReturnLgaId" />
    <input type="hidden" asp-for="PassengerInformationId" />
    <input type="hidden" asp-for="ReturnLocation" />
    <input type="hidden" asp-for="PickUpLocation" />
    <input type="hidden" asp-for="ReturnDate" />
    <input type="hidden" asp-for="PickUpDate" />
    <input type="hidden" asp-for="DateSent" />
    <input type="hidden" asp-for="DateVerified" />
    <input type="hidden" asp-for="Verification" />
    <input type="hidden" asp-for="VerifiedBy" />

    <!--MODAL FOOTER-->
    <div class="modal-footer">
        <div class="row pull-right">
            <div class="col-md-12">
                <input type="submit" value="Yes" class="btn btn-primary" />
                <a class="btn btn-danger" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</form>