@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/AuthenticationLayout/_AuthenticationLayout.cshtml";
}

<h2>A link has been sent to your (@ViewData["recoveriedemail"]) email address</h2>

