@model ImouRentACar.Models.RentACar

@{
    ViewData["Title"] = "Approve";
    Layout = null;
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong> APPROVE CAR RENTAL BOOKING REQUEST </strong> </h3>
</div>


<!--MODAL BODY-->
<div class="modal-body">
    <h3 class="text-center"> Are you sure you want to approve this car rental booking request?</h3>
</div>
<form asp-action="Approve">
    <input type="hidden" asp-for="RentACarId" />
    <input type="hidden" asp-for="PickUpLgaId" />
    <input type="hidden" asp-for="PassengerInformationId" />
    <input type="hidden" asp-for="PickUpLocation" />
    <input type="hidden" asp-for="PickDate" />
    <input type="hidden" asp-for="Days" />
    <input type="hidden" asp-for="PickUpTime" />
    <input type="hidden" asp-for="DateSent" />

    <!--MODAL FOOTER-->
    <div class="modal-footer">
        <div class="row pull-right">
            <div class="col-md-12">
                <input type="submit" value="Yes" class="btn btn-primary" />
                <a class="btn btn-danger" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</form>
