@model IEnumerable<ImouRentACar.Models.Car>
@{
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .buutton {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .card button:hover {
        opacity: 0.7;
    }
</style>

<div class="allcontain">
    <div class="latestcars">
        <h1 style="font-family:'OpenSans-Light'; font-size: 41px;
            letter-spacing: 0px; padding-top: 6px;
            padding-bottom: 7px;
            color: #020243;" class="text-center">
            &bullet; SELECT A CAR &bullet;
        </h1>
        <div class="row">
            <div class="col-md-12">
                <ul id="brand-list" class="nav nav-tabs navbar-left latest-navleft">
                    <li role="presentation" class="li-sortby"><span class="sortby" style=" font-family:montserrat; font-size:22px;">CAR BRAND: </span></li>

                    <li id="hideonmobile">
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 20px;">
    <div class="row" id="car-list">


    </div>
</div>
<div class="footer">
    <div class="copyright">
        &copy; Copy right @DateTime.Now.Year | <a href="#">Privacy </a>| <a href="#">Policy</a>
    </div>
    <div class="atisda">
        Designed by <a href="#">meckblvck </a>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/Modal/Modal.js"></script>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
            </div>
        </div>
    </div>
</div>

<script>
    var loadBrand = function () {
        $.ajax({
            url: '/RentACar/CarBrand',
            async: true,
            method: 'GET',
            data: {},
            success: function (data) {
                var data = data.brands;
                for (var i = 0; i < data.length; i++) {
                    $('#brand-list').append("<li role='presentation' onclick='loadCars(" + data[i]['carBrandId'] + ")'><a href='javascript: void(0);' class='alphSort' on-click='loadCars(" + data[i]['carBrandId'] + ")' class='prcBtnR' style='font-family:montserrat; font-size:22px;'>" + data[i]['name'] + "</a></li>");
                    if (i == data.length - 1) {
                        loadCars(data[0]['carBrandId']);
                    }
                }
            }
        });
    };

    var loadCars = function (id) {
        $.ajax({
            url: '/RentACar/GetCarByBrand',
            async: true,
            method: 'GET',
            data: { brand: id },
            success: function (data) {
                var data = data.cars;
                $('#car-list').empty();
                for (var i = 0; i < data.length; i++) {
                    $('#car-list').append(
                        '<div class="col-md-3" >' +
                        '<div class="card">' +
                        '<img src="/UploadedFiles/Cars/' + data[i]['image'] + '" alt="' + data[i]['name'] + '"style="width:100%; height:280px;">' +
                        '<h4 class="name">' + data[i]['name'] + '</h3>' +
                        '<h5 class="pad"><b style="color: gray; font-size: 13px;">Car Speed: </b>' + data[i]['speed'] + '(km/h)</h5>' +
                        '<p class="pad"><b style="color: gray; font-size: 13px;">Engine Type: </b>' + data[i]['engine'] + '</p>' +
                        '<p class="pad"><b style="color: gray; font-size: 13px;">Rental Price(N): </b>' + data[i]['rentalPrice'] + '</p>' +
                        '<p class="pad"><b style="color: gray; font-size: 13px;">Description: </b>' + data[i]['description'] + '</p>' +
                        '<p><a class="btn buutton" href="passengerinformation/' + data[i]['carId'] + '">SELECT</a></p>' +
                        '</div>' +
                        '</div>'
                    );
                }
            }
        });
    };

    loadBrand();
</script>