@model ImouRentACar.Models.Car

@{
    ViewData["Title"] = "Set Car Rented";
    Layout = null;
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong> SET CAR RENTED </strong> </h3>
</div>


<!--MODAL BODY-->
<div class="modal-body">
    <h3 class="text-center"> Are you sure you want to set car to rented?</h3>
</div>
<form asp-action="SetCarRented">
    <input type="hidden" asp-for="CarId" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Color" />
    <input type="hidden" asp-for="Image" />
    <input type="hidden" asp-for="LastModifiedBy" />
    <input type="hidden" asp-for="DateCreated" />
    <input type="hidden" asp-for="Description" />
    <input type="hidden" asp-for="Engine" />
    <input type="hidden" asp-for="RentalPrice" />
    <input type="hidden" asp-for="Speed" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CarBrandId" />

    <!--MODAL FOOTER-->
    <div class="modal-footer">
        <div class="row pull-right">
            <div class="col-md-12">
                <input type="submit" value="Yes" class="btn btn-primary" />
                <a class="btn btn-danger" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</form>
