@model ImouRentACar.Models.OneWayTrip

@{
    ViewData["Title"] = "Approve";
    Layout = null;
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3> <strong> COMPLETE ONE WAY TRIP BOOK REQUEST </strong> </h3>
</div>


<!--MODAL BODY-->
<div class="modal-body">
    <h3 class="text-center"> This one way trip has been completed. And can be moved to the junk files?</h3>
</div>
<form asp-action="Completed">
    <input type="hidden" asp-for="OneWayTripId" />
    <input type="hidden" asp-for="DestinationLgaId" />
    <input type="hidden" asp-for="PickUpLgaId" />
    <input type="hidden" asp-for="Destination" />
    <input type="hidden" asp-for="PassengerInformationId" />
    <input type="hidden" asp-for="PickUpLocation" />
    <input type="hidden" asp-for="PickDate" />
    <input type="hidden" asp-for="PickUpTime" />
    <input type="hidden" asp-for="DateSent" />
    <input type="hidden" asp-for="PaymentStatus" />
    <input type="hidden" asp-for="CarId" />
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="DateSent" />
    <input type="hidden" asp-for="PriceId" />
    <input type="hidden" asp-for="TotalBookingPrice" />
    <input type="hidden" asp-for="BookingNumber" />

    <!--MODAL FOOTER-->
    <div class="modal-footer">
        <div class="row pull-right">
            <div class="col-md-12">
                <input type="submit" value="Yes" class="btn btn-primary" />
                <a class="btn btn-danger" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</form>
